{% extends 'BlogApp/padre.html' %}
{% load static %}

{% block title %}Acerca de{% endblock %}
{% block header %}Acerca de{% endblock %}

{% block content %}
    <section class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2>Blog de Ciclismo</h2>
                <p>Bienvenido a nuestro blog de ciclismo, donde encontrarás todo lo relacionado con este apasionante deporte.</p>
                <p>Se proporcionara información relevante, noticias actualizadas, consejos útiles y mucho más para los amantes del ciclismo.</p>
                <p>No dudes en explorar las publicaciones y unirte a nuestra comunidad.</p>
            </div>
        </div>
    </section>
{% endblock %}
