{% extends 'BlogApp/padre.html' %}
{% load static %}
{% block title %}Crear Nuevo Post{% endblock %}
{% block header %}Crear Nuevo Post{% endblock %}
{% block content %}
<section class="container mt-5" style="padding-top: 50px;">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_title" class="form-label">Título</label>
                    {{ form.title }}
                </div>
                <div class="mb-3">
                    <label for="id_subtitle" class="form-label">Subtítulo</label>
                    {{ form.subtitle }}
                </div>
                <div class="mb-3">
                    <label for="id_content" class="form-label">Contenido</label>
                    {{ form.content }}
                </div>
                <div class="mb-3">
                    <label for="id_image" class="form-label">Imagen</label>
                    {{ form.image }}
                </div>
                <button type="submit" class="btn btn-primary">Publicar</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
